# In the requirements.txt file, remove any unnecessary libraries that are not referenced by your app.py. The only one you should keep which isn't referenced is gunicorn.
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0